div(id='main_frame')
    div(id='chat')
        p Messages
        br
        div(id='message_boxes')
            if (session.messages !== undefined)
                each msg in session.messages
                    div(class='message_box')
                        p [#{msg.date}] : #{msg.author} > #{msg.content}
                        //p Message:
                        //div(class='message_date') #{msg.date}
                        //div(class='message_author') #{msg.author}
                        //div(class='message_content') #{msg.content}

    div(id='compose')
            //form(action='/sendmessage', method='POST')
            label Message: &nbsp;
            input(id='tosendtext', name='message', type='text')
            input(id='sendbutton', name='submit', value='Send', type='submit')